<app-alarm [message]="'Enter the description for the new task'" *ngIf="addTask" (close)="onClose()" (accept)="onAccept($event)"></app-alarm>
  <div class="row">
    <div class="col-xs-12">
        <h2>Tasks</h2>
        <hr/>
    <h4 *ngIf="!tasks"> Please select a List </h4>
    <div *ngIf="tasks">
      <app-task
      *ngFor="let task of tasks; let i = index" 
      [task] = "task" 
      [index] = "i">
      </app-task>
        <div class="row">
          <button class="btn btn-primary" (click)="onAddTask()">Add Task</button>
        </div>
    </div>
  </div>
</div>
